<h1>Animals</h1>
<div>
<h2>Joey</h2>
<%= image_tag("joey.jpg", size: "100x100", :alt => "Joey") %>
<p>Meet Joey!
 Joey is 2 years old and is growing by the minute. Joey is a friendly cub that likes to be feed, cuddled and played arounded with our guests at Bearcat Cafe. He loves bamboo and stealing from our guest's food so beware if you decide to eat in the outside section. We do have some bamboo that can be feed Joey, if you stop by the cashier section.</p>

</div>

<%= link_to "Back", welcome_index_path %>