<h1>Menu</h1>
<div>
<h2>Iced Latte</h2>
 <%= image_tag("icedlatte.jpg", size: "200x200", :alt => "Iced Latte") %>

<p>Cold espresso drink with choice of vanilla, caramel, and mocha flavors. With the choice of soy, oat, almond, or regular milk.</p>

</div>

<h4><%= link_to "Back", welcome_index_path %></h4>