<h1>Menu</h1>
<div>
<h2>Iced Latte</h2>
<p>Cold espresso drink with choice of vanilla, caramel, and mocha flavors. With the choice of soy, oat, almond, or regular milk.</p>
 <%= image_tag("icedlatte.jpg", size: "100x100", :alt => "Iced Latte") %>
</div>

<%= link_to "Back", welcome_index_path %>